// sections {
#section-a,
#section-b,
#section-c {
  padding: 2rem 1rem;
}

.container {
  margin: auto;
  overflow: hidden;
  max-width: 1300px;
}

// text
.text {
  &-primary {
    color: $color-primary;
  }

  &-medium {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

// buttons
%btn-shared {
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: $border-radius;
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $color-primary;

    a {
      color: $color-light;
    }
  }
}
