// sections {
#section-a,
#section-b,
#section-c {
  padding: 1rem;
}

.container {
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
  max-width: 1300px;
}

// text
.text {
  &-primary {
    color: $color-primary;
  }
}

// buttons
%btn-shared {
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $color-primary;

    a {
      color: $color-light;
    }
  }
}

// media queries
@media (min-width: 750px) {
  #section-a .container {
    grid-gap: 2rem;
  }
}
